* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

:root {
  --link-color: hsl(206deg, 45%, 17%);
}

body {
  margin: 0 5rem;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
}

form {
  margin-top: 4.5rem;
}

